// Navigation Styles here
header{
    width: 100%;
    border-bottom: 2px dashed @navigation-border;

    nav{
        .flexBox(flex-start, center);
        max-width: 800px;
        margin: 0px auto; 
        
        div{
            width: 50%;
            padding: 3% 0px;
            //border: 1px solid black;
        }
        a{
            text-decoration: none;
            font-size: 1.6rem;
            color: @shark;
            
        }

        .links{
            .flexBox(space-between, center);
        }
        

    }
    

}